#Redirection from www.grizz.pl to grizz.pl

RewriteEngine On
RewriteBase /

# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# RewriteCond %{HTTPS} on
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# RewriteCond %{HTTPS} !=on
# RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} !on [OR]
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule (.*) https://www.grizz.pl%{REQUEST_URI} [L,R=301]


#Redirections from blogger
Redirect 301 /2014/11/konwersja-jpg-gif-do-pdf-jak-okielznac-zeskanowana-ksiazke.html https://www.grizz.pl/konwersja-jpg-gif-do-pdf/
Redirect 301 /konwersja_jpg_gif_do_pdf_jak_okie_zna_zeskanowan_ksi_k https://www.grizz.pl/konwersja-jpg-gif-do-pdf/
Redirect 301 /2014/10/zsh-i-git-wyswietlanie-galezi-brancha-i-zmian.html https://www.grizz.pl/zsh-i-git-wyswietlanie-galezi-brancha-i-zmian/
Redirect 301 /zsh_i_git_branch_i_zmiany https://www.grizz.pl/zsh-i-git-wyswietlanie-galezi-brancha-i-zmian/
Redirect 301 /2014/10/google-inbox-i-google-wave.html https://www.grizz.pl/google-inbox-i-google-wave/
Redirect 301 /zaproszenia_do_google_wave https://www.grizz.pl/google-inbox-i-google-wave/
Redirect 301 /2014/10/kwadratowe-miniatury-python-pil-i-imagemagick-wydajnosc.html https://www.grizz.pl/kwadratowe-miniatury-python-pil-i-imagemagick-wydajnosc/
Redirect 301 /kwadratowe_miniatury_python_pil_i_imagemagick_wydajnosc https://www.grizz.pl/kwadratowe-miniatury-python-pil-i-imagemagick-wydajnosc/
Redirect 301 /2014/10/aliasy-czyli-jak-uatwic-sobie-prace-w-konsoli.html https://www.grizz.pl/aliasy-czyli-jak-uatwic-sobie-prace-w-konsoli/
Redirect 301 /aliasy_czyli_jak_ulatwic_sobie_prace https://www.grizz.pl/aliasy-czyli-jak-uatwic-sobie-prace-w-konsoli/
Redirect 301 /2014/10/kradziez-bezprzewodowego-dostepu-do-internetu.html https://www.grizz.pl/kradziez-bezprzewodowego-dostepu-do-internetu/
Redirect 301 /kradziez_bezprzewodowego_dostepu_do_internetu https://www.grizz.pl/kradziez-bezprzewodowego-dostepu-do-internetu/
Redirect 301 /2014/09/sshfs-podmontowywanie-katalogow-z-innych-komputerow.html https://www.grizz.pl/sshfs-podmontowywanie-katalogow-z-innych-komputerow/
Redirect 301 /sshfs_podmontowywanie_katalog_w_z_innych_komputer_w https://www.grizz.pl/sshfs-podmontowywanie-katalogow-z-innych-komputerow/
Redirect 301 /2014/05/star-wars-day-2014.html https://www.grizz.pl/star-wars-day/
Redirect 301 /2013/05/star-wars-day.html https://www.grizz.pl/star-wars-day/
Redirect 301 /Star_wars_day https://www.grizz.pl/star-wars-day/
Redirect 301 /2013/01/star-wars-w-wersji-ascii.html https://www.grizz.pl/star-wars-w-wersji-ascii/
Redirect 301 /star_wars_w_wersji_ascii https://www.grizz.pl/star-wars-w-wersji-ascii/
Redirect 301 /2013/01/skroty-klawiszowe-w-konsoli.html https://www.grizz.pl/skroty-klawiszowe-w-konsoli/
Redirect 301 /skroty_klawiszowe_w_konsoli https://www.grizz.pl/skroty-klawiszowe-w-konsoli/
Redirect 301 /2012/12/polski-slownik-dla-androida-lista-najpopularniejszych-slow-jezyka-polskiego.html https://www.grizz.pl/polski-slownik-dla-androida-lista-najpopularniejszych-slow-jezyka-polskiego/
Redirect 301 /polski_slownik_dla_androida_lista_najpopularniejszych_slow_jezyka_polskiego https://www.grizz.pl/polski-slownik-dla-androida-lista-najpopularniejszych-slow-jezyka-polskiego/
Redirect 301 /2012/12/powody-migracji-z-drupala-na-bloggera.html https://www.grizz.pl/powody-migracji-z-drupala-na-bloggera/
Redirect 301 /2012/12/nowe-otwarcie.html https://www.grizz.pl/nowe-otwarcie/
#Redirect 301 
#Redirect 301 
